body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
    margin: 0;
    color: rgb(27, 27, 27);
}

html,
body,
#root,
.App {
    height: 100%;
}

.App {
    display: flex;
    flex-flow: column;
}

.App .content {
    flex-grow: 1;
}

.navBar {
    position: relative;
    padding: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 12px 1px rgb(87, 87, 87);
    z-index: 1;
}

.navBar h1 a {
    text-decoration: none;
}

.navBar .links {
    margin-left: auto;
}

.navBar .links a {
    font-weight: bold;
    padding: 10px;
    color: rgb(0, 102, 255);
    text-decoration: none;
    transition: 0.3s;
}

.navBar .links a:hover {
    color: rgb(17, 17, 17);
}

.grid .cells {
    padding: 20px;
}

.grid .cells .cellRow {
    vertical-align: top;
    display: flex;
    /* box-shadow: -6px 5px 14px 2px rgba(0, 0, 0, 0.5); */
}

.grid .cells .cellRow div {
    width: 20px;
    height: 20px;
    border: 1px solid rgba(200, 200, 200, 0.9);
}

.visualizer {
    display: flex;
    /* background-image: url('./Images/background.jpg'); */
    background: linear-gradient(220deg, rgba(0, 104, 255, 1) 0%, rgba(0, 70, 171, 1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    z-index: 0;
}

.menu {
    margin: 20px 20px 20px 20px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    /* box-shadow: -6px 5px 14px 2px rgba(0, 0, 0, 0.5); */
}

.menu .title {
    color: rgb(45, 45, 45);
    text-align: center;
    margin: 15px;
}

.menu .options {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

.menu .options div {
    padding-bottom: 3%;
}

.menu .options div button {
    border: 1px solid rgba(50, 50, 50, 1);
    width: 60%;
    height: 4vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    font-weight: lighter;
    background-color: rgba(250, 250, 250, 0.9);
    border-radius: 5px;
}

.menu .options div button:hover {
    font-weight: bolder;
    box-shadow: -6px 6px 12px 1px rgba(0, 0, 0, 0.5);
    position: relative;
    top: 0;
    transform: translateY(-1px) translateX(1px);
    transition: 0.03s;
}

.menu .options .reset button:hover {
    background-color: rgba(252, 3, 61, 1);
    transition: 0.03s;
}

.menu .options .start button:hover {
    background-color: rgb(136, 252, 3);
    transition: 0.03s;
}

.menu .options .algorithms button:hover {
    background-color: rgb(252, 173, 3);
    transition: 0.03s;
}

.menu .options .clear button:hover {
    background-color: rgb(248, 252, 3);
    transition: 0.03s;
}

.menu .options .delay form label {
    display: flex;
    justify-content: center;
}

.menu .options .delay form label h3 {
    margin-right: 10px;
}

.menu .options .description .legend {
    display: flex;
    justify-content: center;
}

.menu .options .description .legend div {
    padding: 10px;
}
